
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    position: relative;
}

header a {
    font-size: 20px;
    color:yellow;
    position: relative;
    left: 660px;
    padding: 25px;
    bottom: 30px;
}

.main {
    display: flex;
    background-color: #34495e;
}

.content1 {
    color: #bdc3c7;
    font-size: 25px;
    /* font-size: 20px; */
    position: relative;
    top:15px;
    left: 10px;
}

.image1 img {
    position: relative;
    left: 70px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: 5px solid #dfe6e9;
}

.skill2 {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.skill2:hover {
    background-color:black;
    color: white;
}
.skill1 {
    position: relative;
    padding: 4px;
    padding-bottom: 30px;
    font-size: 25px;
    background-color: #7f8c8d;
    width: 100%;
    height: 20px;
    color: white;
    transition: padding-left 1s;
}

.skill1:hover {
    background-color:  #34495e;
    padding-left: 100px;
}
.myproj{
    position: relative;
    /* padding: 10px;  */
}
.proj1 {
    position: relative;
    bottom: 10px;
    padding: 20px;
    font-family: 'Georgia', serif;
    font-size: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    font-weight: 800;
}

.hide {
    display: none;
  
}

.proj1:hover .hide {
    color: #f39c12;
    display: block;
}
.skill3{
    position: relative;
    background-color: #1e90ff;
    color: white;
    text-align: center;
    font-size: 20px;
    bottom: 10px;
    padding: 20px;
}
.contacts {
    position: relative;
    bottom: 25px;
    color: #f0f0f0;
    font-size: 20px;
    background-color: #2c3e50;
}

a{
    color: yellow;
    font-size: 20px;
}
a:hover{
    color:red;
    transition: 1s;
    font-size: 25px;
}